<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Prymous @ViewBag.Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="~/Content/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="~/Content/style.css">
	<link href="https://fonts.googleapis.com/css?family=Arima+Madurai" rel="stylesheet">
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top" style="background-color: #e6e6e6">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="~/Home/Index">Project Primous</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li>@Html.ActionLink("What is Primous?", "WhatIsPrimous", "Home")</li>
					<li>@Html.ActionLink("Support us", "Support", "Home")</li>
					<li>@Html.ActionLink("Sign in", "Login", "Account")</li>
					<li>@Html.ActionLink("Browse anonymously", "Anonymous", "Home")</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</div>

	@RenderBody()
	<hr />
	<footer>
		<p>&copy; @DateTime.Now.Year - Prymous</p>
	</footer>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
