<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Primous @ViewBag.Title</title>
	<link href="~/Content/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="~/Content/style.css">
	<script type="text/javascript" src="script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arima+Madurai" rel="stylesheet">

</head>
<body>
	<nav class="navbar navbar-default" style="background-color: #e6e6e6">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="Home/WhatIsPrimous">Project Primous</a>

			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="nav">
				<ul class="nav navbar-nav navbar-right">
					<li>@Html.ActionLink("What is Primous?", "WhatIsPrimous", "Home")</li>
					<li>@Html.ActionLink("Support us", "Support", "Home")</li>
					<li>@Html.ActionLink("Sign in", "Login", "Account")</li>
					<li>@Html.ActionLink("Browse anonymously", "Anonymous", "Home")</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

		@RenderBody()
	<hr />
	<footer>
		<p>&copy; @DateTime.Now.Year - Primous</p>
	</footer>
	<!-- jquery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- bootstrap js -->
	<script src="~/Scripts/bootstrap.min.js"></script>
	
	@RenderSection("scripts", required: false)
</body>
</html>