@using Projekt.NETWeb.Models
@model LoginViewModel
@{
	ViewBag.Title = "Log in";
	Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div id="loginouter">
	<div id="logininner">
		<form style="display: inline-block;">
			<section>
				@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
				{
					@Html.AntiForgeryToken()
					<h2>Sign in to Primous</h2>
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					<div class="form-group" style="height: 34px">
						<div class="loginform col-md-10" style="height: 34px">
							@Html.TextBoxFor(m => m.Login, new { @class = "form-control logintextbox", placeholder = "Username", style = "margin-bottom: 15px" })
							@Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group" style="height: 34px">
						<div class="col-md-10 loginform" style="height: 34px">
							@Html.PasswordFor(m => m.Password, new { @class = "form-control  logintextbox", placeholder = "Password", style = "margin-bottom: 15px" })
							@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group" style="height: 20px">
						<div class="col-md-10 loginform" style="height: 20px">
							<div class="checkbox" style="margin-top: 0px; margin-bottom: 0px;">
								<div style="float:left">
									@Html.CheckBoxFor(m => m.RememberMe)
								</div>
								<div style="float:left">
									@Html.LabelFor(m => m.RememberMe)
								</div>
							</div>
						</div>
					</div>
					<div class="form-group" style="height: 34px">
						<div class="col-md-10 loginform" style="height: 34px">
							<input type="button" value="Sign up" class="btn btn-default" />
							<input type="submit" value="Log in" class="btn btn-success" />
						</div>
					</div>
					<p>
						@Html.ActionLink("Register as a new user", "Register")
					</p>
						<p>
							@Html.ActionLink("Forgot password?", "ForgotPassword")
						</p>
				}
			</section>
		</form>
	</div>
</div>


<div class="container-fluid">
	<div class="row" id="intrheader">

		Experience true freedom. With Primous.
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="whatis">

		</div>
	</div>
</div>
<!--
</div>
-->
