@using Projekt.NETWeb.Models
@model RegisterViewModel
@{
	ViewBag.Title = "Register";
	Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div id="loginouter">
	<div id="logininner">
			<section style="display: inline-block;">
				@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
				{
					@Html.AntiForgeryToken()
					<h2>Sign up to Primous</h2>
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					@Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })
					<div class="form-group" style="height: 34px">
						<div class="col-md-10 loginform" style="height: 34px">
							@Html.TextBoxFor(m => m.Login, new { @class = "form-control logintextbox", placeholder = "Username", style = "margin - bottom: 15px" })
						</div>
					</div>
					@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
					<div class="form-group" style="height: 34px">
						<div class="col-md-10 loginform" style="height: 34px">
							@Html.TextBoxFor(m => m.Password, new { @class = "form-control logintextbox", placeholder = "Password", style = "margin-bottom: 15px", type="password" })
						</div>
					</div>
					@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
					<div class="form-group" style="height: 34px">
						<div class="col-md-10 loginform" style="height: 34px">
							@Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control logintextbox", placeholder = "Confirm password", style = "margin-bottom: 15px", type = "password" })
						</div>
					</div>
					<div class="form-group" style="height: 34px">
						<div class="col-md-10 loginform" style="height: 34px">
							@Html.ActionLink("Log in", "Login", "Account", new { @class = "btn btn-default" })
							<input type="submit" value="Sign up" class="btn btn-success" />
						</div>
					</div>


				}
			</section>
		</form>


	</div>
</div>


<div class="container-fluid">
    <div class="row intrheader">

        Experience true freedom. With Primous.
    </div>

    <div class="row">
        <div class="col-lg-12" id="intr1">


            <div class="jumbotron hidden-xs" id="intr1in">

                <h3>Social networks, besides being awesome, are tracking you.</h3>
                <h2>We aren't.<br><br>We don't care who you are, who do you text or where do you live.<br>It's none of our business.<br></h2>

                <h1><a href="/Home/WhatIsPrimous/">Learn more...</a></h1>

            </div>

            <div class="jumbotron visible-xs" id="intr2in">
                <p>
                    Social networks, besides being awesome, track you.<br>We don't.<br><br>We don't care who you are, who do you text or where do you live.<br>It's none of our business.<br>
                </p>
                <a href="/Home/WhatIsPrimous/">Learn more..</a>
            </div>

        </div>
    </div>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}